.common_textarea{
    　　resize:none;
    width: 450px;
    height: 300px;
    max-width: 450px;
    max-height: 300px;
    min-width: 450px;
    min-height: 300px;
}

#apply_table{
    width: 450px;
}

.blank_td{
    width: 60px;
}
.common_btn{
    width: 80px;
}


#snippet_num,#stage_num{
    align:right;
    width:70px;
}
.apply_select{
    align:right;
    width:15%;
}

.container{
    width: 1500px;
    background: #e5e5d6;
    margin: 5px 5px;
    text-align: left;
    height: 948px;
}

.sider_bar{
    float: left;
    width: 200px;
    background: #c1c8c8;
    height: 100%;
}

.main_content{
    width: 1290px;
    background: #eee;
    float: right;
    margin: 3px 5px;
    height: 99%;
}