<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>


<em>单据(数据格式json)</em><br/>
<textarea class="common_textarea"></textarea>
<br>


<hr/>

<em>选择要应用的规则</em>
<table id="apply_table">
    <tr>
        <td class="apply_select">
            <select id="snippet_num" th:each="snippet: ${snippets}">
                <option value="snippet" selected>snippet</option>
                <option th:text="${snippet}" />
            </select>
        </td>
        <td>
            <button type="button" class="common_btn">应用规则</button>
        </td>
        <td class="blank_td"> </td>
        <td class="apply_select">
            <select id="stage_num" th:each="stage: ${stages}">
                <option value="stage" selected>stage</option>
                <option th:text="${stage}" />
            </select>
        </td>
        <td>
            <button type="button" class="common_btn">应用stage</button>
        </td>
    </tr>
</table>

<hr/>

<em>规则应用反馈</em><br>
<textarea class="common_textarea"></textarea><br>

[[${feedback.createTime}]] <br>
[[${#dates.format(feedback.createTime.getTime(), 'yyyy-MM-dd HH:mm:ss')}]]

</body>
</html>