<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">

        .sider_bar .menu_btn:hover{
            cursor:pointer;
            background: #e5f0e1;
        }
    </style>

    <link type="text/css" rel="stylesheet" th:href="@{/css/common.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>

<!--    <script type="text/javascript">
        $(".menu_btn").click(function () {
            $(this).css({"background": "#e5f0e1"});
        });

    </script>-->

</head>
<body>
<div class="container">

    <div class="sider_bar">
        <ol >
            <li th:each="menu: ${menus}" class="menu_btn" th:cus_href="${menu.url}" th:text="${menu.value}"></li>
        </ol>
    </div>

    <div class="main_content" >
        <h3> [[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]] </h3>
        <h3>哇哈哈</h3>
    </div>

</div>

<script type="application/javascript">
//    console.log("hello, you come in")
//    var text = $(".main_content").text();
//    console.log(text)

    $(".menu_btn").on("click", function () {
        console.log($(this).attr("cus_href"));
//        window.location.href=$(this).prop("href");

        $(".menu_btn").css({"background": ""});
        $(this).css({"background": "#e5e5d6"});

        $.ajax({url: $(this).attr("cus_href"),
                success:function (result) {
                    console.log("ha, feedback");
//                    console.log(result);
                    $(".main_content").html(result);
                },
                error:function(result){
                    $(".main_content").html("<h2>哈哈, 异常了</h2><br>"+ JSON.stringify(result));
                }

        })
    })


</script>
<script th:src="@{/js/back.js}"></script>
<canvas id="c_n12" width="1920" height="959" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 1.5;"></canvas>
</body>
</html>